body {
    background-color: dodgerblue;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.form {
    width: 380px;
    height: 600px;
    margin-top: 120px;
    padding: 20px;
    border: 1px none black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    gap: 20px;

}

.text {
    width: 600px;
    text-align: center;
    color: white;
}

.imagem-form {
    width: 450px;
}

.title {
    font-weight: bolder;
    margin-top: 4em;
    font-size: 38px;
    text-align: center;
}

.subtitle {
    line-height: 1.4em;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

.campo-form {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: gray;
    gap: 8px;
}

.validar {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.form-title {
    margin-top: 3px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.form-subtitle {
    font-size: 17px;
    margin-bottom: 5px;
}

.checkbox {
    margin-top: 10px;
}

.botao {
    background-color: goldenrod;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}